<!-- 我的页面 -->
<div class="wrap">
    <div class="top">
        <p class="set"> <i class="icon ion-gear-b"></i>设置</p>
        <div>
            <button class="button-light loginButton">登录</button>
            <a href="" class="quickLogin">没有账号?手机号快速注册&gt</a>
        </div>
        <p class="share">
            <a class=" ion-left ion-chatbubbles">微信登录</a>
            <a class=" ion-left  ion-social-github">github登录</a>
            <a class=" ion-left  ion-social-tux">  QQ登录 </a>

        </p>
    </div>
    <div class="middle card many">
        <div class="first card">
            <p class="item item-text-wrap manyContent">
                <span>我关注的|</span>
                <span>我的粉丝</span>
            </p>
        </div>

        <div class="second card">
            <div class="read ">阅读</div>
            <div class="collect ">收藏</div>
            <div class="follow ">跟帖</div>
            <div class="money ">金币</div>
        </div>


    </div>
    <div class="mainContent">
        <div class="list card">
            <a href="#" class="item item-icon-left icon ion-android-notifications">
                我的消息
            </a>
            <a href="#" class="item item-icon-left icon ion-aperture">
                最新动态

            </a>
        </div>

        <div class="list card">
            <a href="#" class="item item-icon-left icon ion-social-yen">
                金币商城
            </a>


            <a href="#" class="item item-icon-left icon ion-ios-briefcase">
                我的钱包
            </a>

            <a href="#" class="item item-icon-left icon ion-soup-can-outline">
                金币任务
            </a>
        </div>

        <div class="list card">
            <a href="#" class="item item-icon-left icon ion-ios-lightbulb">
                夜间模式
                <input type="range" class="ion-happy-outline">
            </a>

            <a href="#" class="item item-icon-left icon ion-ios-wineglass">
                活动广场
            </a>

            <a href="#" class="item item-icon-left icon ion-ios-filing">
                意见反馈
            </a>
        </div>
    </div>
</div>