
<!-- 话题详情页面 -->
<ion-view>

    <ion-content>
    <div>
        <div >
            <p>{{}}</p>
            <p>——{{}}万关注——</p>
            <div>
                +关注
            </div>
        </div>

            <p>
                <span>{{}}提问.</span>
                <span>{{}}回复</span>
                <span>
                    <label>最新</label>
                    <label>最热</label>
                </span>
            </p>

           <div class="list card">
               <img src="{{}}" alt="">
               <h2>{{}}</h2>
               <p>{{}}</p>
               <hr>
               <img src="{{}}" alt="">
               <h2>{{}}</h2>
               <p>{{}}</p>
               <hr>
               <p>
                   <a href="#">{{}}</a>
                   <a href="#">{{}}</a>
                   <a href="#">{{}}</a>
                   <a href="#">{{}}</a>
               </p>
           </div>
    </div>






    </ion-content>
</ion-view>
